.gallery img{
    width: 100%;
    height: 270px;
    border-radius: 20px;
   
}

h1{
    font-family: impact, fantasy;
    font-size: 30px;
    font-style: italic;
    color: rgb(110, 37, 37);
    padding-left: 20px;
}

h2{
    font-family: impact, fantasy;
    
    text-align: center;
    font-size: 30px;
    color: rgb(110, 37, 37);
}

h4{
    font-family: impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
}

p{
    font-family: Helvetica, sans-serif;
}

#menu{
    background-color: cornflowerblue;
    width: 100%;
    height: 40px;
    padding-top: 12px;
    margin-bottom: 40px;
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    width: 50%;
    float: left;
    display: block;
     text-align: center; 
}

#menu a:hover{
    color: #5077bd;
}

.menu-tap{
    font-size: 12px;
    
    width: 100%;
    height: 120px;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
   padding-top: 1px;
   padding-left: 60px;
   margin-top: 7px;
   margin-bottom: 40px;
}

#specials{
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: red;

}
    
footer a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: 800;
    width: 50%;
    float: left;
    display: block;
     text-align: center; 
}

footer p{
    font-size: 8px;
    color: white;
    Text-align: center;
     padding-top: 20px;
}

.space{
margin-top: 500px;
}

footer{
    background-color: cornflowerblue;
    width: 100%;
    height: 40px;
    padding-top: 12px;
    margin-top: 80px;
}